* text eol=lf

*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.avif binary
*.woff binary
*.woff2 binary
*.gif binary
*.pdf binary
*.mp3 binary
*.mp4 binary
*.avi binary
*.mov binary
